/* ===============
    Global Styles
=============== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ===============
    Body
=============== */

body {
    color: rgb(32, 0, 32);
    font-family: 'Lato',sans-serif;
}

/* ===============
    Navbar
=============== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 10vw;
    box-shadow: 0 2px 4px rgba(128, 0, 128, 0.05);
}

.logo {
    width: 60px;
    height: auto;
    cursor: pointer;
}

.nav-item-container {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.nav-item a {
    display: inline-block;
    text-decoration: none;
    color: rgb(32, 0, 32);
    font-weight: bold;
    transition: all 300ms linear;
}

.nav-item a:hover,
.nav-item a:focus {
    color: purple;
    transform: translateY(-1px);
}

.nav-item a:active {
    border-color: rgba(128, 0, 128, 0.25);
    color: rgba(64, 0, 64, 0.25);
}

.nav-selected {
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
    opacity: 0;
    animation: underline 2400ms ease forwards;
}

@keyframes underline {
    0% {
        color: rgb(32, 0, 32);
        border-color: purple;
    }
    50% {
        color: rgba(128, 0, 128.  0.25);
        opacity: 0.75;
    }
    100% {
        opacity: 1;
        border-color: rgb(64, 0, 64);
        color: rgb(160,0, 160);
    }
}

/* ===============
    Hero Section
=============== */

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    margin: 0 10vw;
    margin-top: 4rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.job-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: purple;
    font-weight: bold;
}

.greeting {
    font-size: 3rem;
    font-weight: bold;
}

.greeting-name {
    color: rgb(64, 0, 64);
    animation: colorChange 6000ms ease alternate 300ms infinite;
}

@keyframes colorChange {
    25% {
        color: rgb(96, 0, 96);
    }
    50% {
        color: purple;
    }
    75% {
        color: rgb(160, 0, 160);
    }
}

.intro-about-me {
    color: rgba(32, 0, 32, 0.625);
    font-size: 1rem;
    margin: 1rem 0;
    margin-left: 1rem;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 0, 128, 0.1);
    border-radius: 2rem;
    animation: pan 24000ms ease alternate 600ms infinite;
    box-shadow: 0 0 8px rgba(128, 0, 128, 0.125);
}

@keyframes pan {
    25% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    } 
}

.profile-picture {
    width: 240px;
    height: auto;
    border-radius: 50%;
}

.button-container {
    display: flex;
    gap: 2rem;
}

.btn {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.375rem 0.625rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 600ms ease;
}

.projects-btn {
    background-color: purple;
    border: 2px solid purple;
    color: white;
}

.projects-btn:hover,
.projects-btn:focus {
    background-color: rgba(128, 0, 128, 0.75);
    border-color: rgba(128, 0, 128, 0.75);
    transform: translateY(-2px);
}

.projects-btn:active {
    background-color: rgba(128, 0, 128, 0.5);
    border-color: rgba(128, 0, 128, 0.5);
}

.download-cv-btn {
    color: purple;
    background-color: white;
    border: 2px solid purple;
}

.download-cv-btn:hover,
.download-cv-btn:focus {
    transform: translateY(-2px);
    color: rgb(64, 0, 64);
}

.download-cv-btn:active {
    border-color: rgb(32, 0, 32);
    color: rgb(32, 0, 32);
}

main {
    margin-top: 4rem;
}

/* ===============
    About - SECTION
=============== */

.about-heading {
    font-size: 2rem;
    text-align: center;
    color: rgb(64, 0, 64);
    margin: 0 10vw;
    margin-top: 4rem;
}

.about-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: 10vw;
    margin-right: 10vw;
}

.about-container-heading {
    text-align: center;
    font-weight: bold;
    font-size: 1;
    padding-bottom: 1rem;
}

/* Top About */

.top-about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-content: flex-start;
}

.top-about-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.personal-info-container,
.tech-journey-container {
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0 0 8px rgba(128, 0, 128, 0.125);
}

/* Personal Information */

.personal-info-container {
    background-color: rgba(32, 0, 32, 0.875);
    text-align: center;
}

.personal-info-container h3 {
    color: white;
}
.personal-info-paragraphs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: white;
    opacity: 0.85;
}

/* Tech Journey */

.tech-history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tech-journey-container {
    color: rgba(32, 0, 32, 0.5);
    border: 2px solid rgba(32, 0, 32, 0.15);
    animation: box-shadow 6000ms ease-in-out infinite alternate;
}

@keyframes box-shadow {
    25% {
        box-shadow: 0 4px 8px rgba(90, 0, 90, 0.125);
    }
    50% {
        box-shadow: -2px 0 4px rgba(128, 0, 128, 0.25);
    }
    75% {
        box-shadow: 0 -4px 8px rgba(160, 0, 160, 0.125);
    }
    100% {
        box-shadow: 4px 2px 2px rgba(128, 0, 128, 0.25);
    }
}

.about-container-heading {
    color: rgba(32, 0, 32, 0.875);
}

.tech-institution {
    opacity: 1;
    color: rgba(64, 0, 64, 0.75);
}

.about-action-container {
    width: 100%;
    height: 100%;
    background-color: rgba(32, 0, 32, 0.05);
    border-radius: 2rem;
    box-shadow: 0 0 8px rgba(128, 0, 128, 0.25);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.star-icon {
    height: 15px;
    width: auto;
    opacity: 0.5;
    animation: star 2400ms ease infinite alternate;
}

.collaborate-paragraph {
    margin-left: 0.5rem;
    color: rgba(32, 0, 32, 0.75);
    font-size: 0.875rem;
}

.collaborate-paragraph a {
    text-decoration: none;
    font-weight: bold;
    color: rgba(32, 0, 32, 0.625);
    transform: all 600ms ease;
}

.collaborate-paragraph a:hover,
.collaborate-paragraph a:focus {
    color: rgba(64, 0, 64, 0.875);
}
.collaborate-paragraph a:active {
    color: rgba(64, 0, 64, 0.375);
}

@keyframes star {
    100% {
        opacity: 0.875;
        transform: scale(1.125);
    }
}

/* Tech Stack */

.tech-stacks {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
}

.tech-stack-container {
    padding: 1rem;
}

.languages,
.frameworks-and-libraries,
.tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
    
}

.icons-heading {
    font-size: 1rem;
    color: rgba(64, 0, 64, 0.875);
}

.icons-container {
    display: flex;
    gap: 2rem;
    background-color: rgba(128, 0, 128, 0.05);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(64, 0, 64, 0.125);
}

.icons-container img {
    width: 40px;
    height: auto;
}

/* ===============
    Code animation section
=============== */

.code-animation-section {
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.code-animation {
    width: 40px;
    position: relative;
    animation: codeAnimation 4800ms ease-in-out infinite alternate;
}

@keyframes codeAnimation {
    0% {
        left: 0%;
        opacity: 0;
    }
    50% {
        opacity: 0.75;
        transform: scale(1.75) rotate(360deg);
    }
    100% {
        left: 95%;
        opacity: 0;
    }
}