* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0 10vw;
    color: rgb(32, 0, 32);
    font-family: 'Lato',sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.logo {
    width: 60px;
    height: auto;
    cursor: pointer;
}

.nav-item-container {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.nav-item a {
    text-decoration: none;
    color: rgb(32, 0, 32);
}

.bottom-header {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.job-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: purple;
    font-weight: bold;
}

.greeting {
    font-size: 3rem;
    font-weight: bold;
}

.intro-about-me {
    color: rgba(32, 0, 32, 0.625);
    font-size: 1rem;
    margin: 1rem 0;
    margin-left: 1rem;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 0, 128, 0.1);
    border-radius: 2rem;
    animation: pan 24000ms alternate 600ms infinite;
}

@keyframes pan {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(10px);
    }
    80% {
        transform: translateX(-10px);
    } 
    100% {
        transform: translate(0);
    }
}

.profile-picture {
    width: 240px;
    height: auto;
    border-radius: 50%;
}

.button-container {
    display: flex;
    gap: 2rem;
}

.btn {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.375rem 0.625rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 600ms ease;
}

.projects-btn {
    background-color: purple;
    color: white;
    border: 2px solid purple;
}

.projects-btn:hover,
.projects-btn:focus {
    background-color: rgba(128, 0, 128, 0.75);
    border-color: rgba(128, 0, 128, 0.75);
    transform: translateY(-2px);
}

.projects-btn:active {
    background-color: rgba(128, 0, 128, 0.5);
    border-color: rgba(128, 0, 128, 0.5);
}

.linkedIn-btn {
    color: purple;
    background-color: white;
    border: 2px solid purple;
}

.linkedIn-btn:hover,
.linkedIn-btn:focus {
    transform: translateY(-2px);
    color: rgb(64, 0, 64);
}

.linkedIn-btn:active {
    color: rgb(32, 0, 32);
    border-color: rgb(32, 0, 32);
}

@media (max-width: 767px) {
    body {
        background-color: blue;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        background-color: red;
    }
}