/* ===============
    Global Styles
=============== */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* ===============
    Body
=============== */

body {
    margin: 0 10vw;
    color: rgb(32, 0, 32);
    font-family: 'Lato',sans-serif;
}

/* ===============
    Navbar
=============== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    border: 2px solid red;
}

.logo {
    width: 60px;
    height: auto;
    cursor: pointer;
}

.nav-item-container {
    list-style: none;
    display: flex;
    gap: 4rem;
}

.nav-item a {
    text-decoration: none;
    color: rgb(32, 0, 32);
    font-weight: bold;
}

/* ===============
    Hero Section
=============== */

.hero-section {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10vw;
    border: 2px solid red;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.job-title {
    text-transform: uppercase;
    font-size: 0.75rem;
    color: purple;
    font-weight: bold;
}

.greeting {
    font-size: 3rem;
    font-weight: bold;
}

.greeting-name {
    color: rgb(64, 0, 64);
    animation: colorChange 6000ms ease alternate 300ms infinite;
}

@keyframes colorChange {
    25% {
        color: rgb(96, 0, 96);
    }
    50% {
        color: rgb(64, 0, 64);
    }
    75% {
        color: rgb(128, 0, 128);
    }
}

.intro-about-me {
    color: rgba(32, 0, 32, 0.625);
    font-size: 1rem;
    margin: 1rem 0;
    margin-left: 1rem;
}

.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 0, 128, 0.1);
    border-radius: 2rem;
    animation: pan 24000ms ease alternate 600ms infinite;
    box-shadow: 0 0 8px rgba(128, 0, 128, 0.125);
}

@keyframes pan {
    25% {
        transform: translateX(10px);
    }
    75% {
        transform: translateX(-10px);
    } 
}

.profile-picture {
    width: 240px;
    height: auto;
    border-radius: 50%;
}

.button-container {
    display: flex;
    gap: 2rem;
}

.btn {
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0.375rem 0.625rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 600ms ease;
}

.projects-btn {
    background-color: purple;
    border: 2px solid purple;
    color: white;
}

.projects-btn:hover,
.projects-btn:focus {
    background-color: rgba(128, 0, 128, 0.75);
    border-color: rgba(128, 0, 128, 0.75);
    transform: translateY(-2px);
}

.projects-btn:active {
    background-color: rgba(128, 0, 128, 0.5);
    border-color: rgba(128, 0, 128, 0.5);
}

.download-cv-btn {
    color: purple;
    background-color: white;
    border: 2px solid purple;
}

.download-cv-btn:hover,
.download-cv-btn:focus {
    transform: translateY(-2px);
    color: rgb(64, 0, 64);
}

.download-cv-btn:active {
    border-color: rgb(32, 0, 32);
    color: rgb(32, 0, 32);
}

main {
    margin-top: 4rem;
    border: 2px solid red;
}

/* ===============
    Code animation section
=============== */

.code-animation-section {
    background-color: rgba(128, 0, 128, 0.1);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
}

.code-animation {
    width: 40px;
    position: relative;
    animation: codeAnimation 4800ms ease-in-out infinite alternate;
}

@keyframes codeAnimation {
    0% {
        left: 0%;
        opacity: 0;
    }
    25% {
        
    }
    50% {
        opacity: 1;
        transform: scale(1.5) rotate(360deg);
    }
    75% {
        
    }
    100% {
        left: 95%;
        opacity: 0;
    }
}